@{
    Layout = "_Layout";
}

<h2> Daftar Artikel</h2><br>
@if(ViewData["pesan"]!=null){
    //@ViewData["Pesan"];
    @Html.Raw(ViewData["pesan"]);  
}
<a asp-action="Create" class="btn btn-success btn-xs">Create Artikel</a> <br>
<div class="row">
    <form asp-action="Search" class="form-inline">

        <div class="form-group">
        <label>Masukan Keyword</label>
        <input type="Text" name="keyword" placeholder="Masukan keyword" class="form-control"/>
        </div> 
        <div class="radio">
        <label><input type="radio" name="cari" value="Judul" >Judul</label>
        </div>
        <div class="radio">
        <label><input type="radio" name="cari" value="Isi">Isi</label>
        </div>
        <div class="radio">
        <label><input type="radio" name="cari" value="Username">Penulis/Username</label>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>



<div class="row">
<table class="table table-striped">
    <tr>
        <th>Artikel ID</th>
        <th>Kategori ID</th>
        <th>Judul</th>
        <th>Berita</th>
        <th>Tanggal</th>
        <th>Gambar  </th>
        <th>Username</th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var data in Model){
        <tr>
            <td>@data.ArtikelID</td>
            <td>@data.KategoriID</td>
            <td>@data.Judul</td>
            <td>@data.Berita</td>
            <td>@data.Tanggal</td>
            <td>
                    @if(@data.Gambar=="-"){
                        <span>"Tidak Ditemukan Gambar"</span>
                        }
                    else
                    {
                        <img src=~/fotoArtikel/@data.Gambar width="50px" height="auto"> 
                    }  
            </td>
            <td>@data.Username</td>
            <td><a asp-action="Details" asp-route-id="@data.ArtikelID">Details</a> </td>
            <td><a asp-action="Delete" asp-route-id="@data.ArtikelID">Delete</a></td>
        </tr>
    }
</table>
</div>
